@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body::-webkit-scrollbar {
  display: none;
}

tc-root {
  pointer-events: auto;
}

html,
body {
  @apply font-rubik;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #192632;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  * {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-stroke-half {
    paint-order: fill stroke;
    -webkit-text-stroke: 0.5px black;
  }

  .text-stroke-1 {
    paint-order: stroke fill;
    -webkit-text-stroke: 1px black;
  }

  .text-stroke-2 {
    paint-order: stroke fill;
    -webkit-text-stroke: 2px black;
  }

  .text-stroke-3 {
    paint-order: stroke fill;
    -webkit-text-stroke: 3px black;
  }

  .text-stroke-4 {
    paint-order: stroke fill;
    -webkit-text-stroke: 4px black;
  }

  .text-stroke-brown-1\.5 {
    paint-order: stroke fill;
    -webkit-text-stroke: 1.5px #542E00;
  }

  .text-stroke-blue-1\.5 {
    paint-order: stroke fill;
    -webkit-text-stroke: 1.5px #18549C;
  }

  .level-text {
    paint-order: stroke fill;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 0px 0.6px 0 black;
  }

  .text-shadowed {
    paint-order: stroke fill;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0px 2px 0 black;
  }

  .shadow-inner-btn {
    box-shadow: inset 0px -1px 0.5px rgba(255, 255, 255, 0.2);
  }

  .shadow-a {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .embla {
    width: 100%;
    margin: auto;
  }

  .embla__viewport {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(0.8rem * -1);
  }

  .combo-border-radius {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .top-list-shadows {
    box-shadow: 
      inset 0 -4px 2px rgba(255, 255, 255, 0.6),
      inset -1px 2px 2px rgba(255, 255, 255, 0.4),
      inset 1px 2px 2px rgba(255, 255, 255, 0.4);

    filter: 
      drop-shadow(0 4px 0 #E1A500)
      drop-shadow(0 6px 12px rgba(0, 0, 0, 0.8));
  }

  .top-players-badge {
    box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    filter: 
      drop-shadow(0 1px 1px rgba(207, 114, 255, 0.25))
  }

  .top-players-list-inset-shadows {
    box-shadow: 
      inset -2px 0 24px  0 rgba(255, 255, 255, 0.2), 
      inset -2px 0 1px 0 rgba(255, 255, 255, 0.2), 
      inset 2px 0 24px  0 rgba(255, 255, 255, 0.2), 
      inset 2px 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  .top-players-timer-shadows {
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.8);
    filter: 
      drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2))
      drop-shadow(0 1px 0 rgba(0, 0, 0, 0.4))
  }

  .top-players-timer-badge-shadows {
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    filter: 
      drop-shadow(0 1px 1px rgba(207, 114, 255, 0.25))
  }
}